*.exe
.vscode/
temp.txt
results/*.bin
results/*.png
results/*.avi
results/*/
results/fieldAtPosition.m
results/fig_gauss_propag.m
results/superluminal_1.m
results/superluminal_input_signal.m
results/superluminal_v_test.m
results/name.py
results/fig_gauss_propag*.m